<div class="row">
   <div class=" col-xs-12 sub-nav">
    <div class="col-xs-offset-7 col-sm-offset-5 col-lg-offset-3 col-xs-6 col-sm-8 col-lg-9">
      <ul class="nav nav-pills">
        <li>
          <a href="timeline.html">Timeline</a>
        </li>

        <li class="active">
          <a href="about.html">About</a>
        </li>

        <li>
          <a href="photos.html">Photos <span class="badge">1310</span></a>
        </li>

        <li>
          <a href="friends.html">Friends <span class="badge">310</span></a>
        </li>

    </div>
  </ul>
</div>