<%= render 'cover' %>

<%= render 'subnav' %>

 <!-- edit profile -->
      <section  class="content col-xs-12">
        <h2>Edit Profile</h2>

        <div class="row">
          <div class="col-xs-10 col-sm-4 col-sm-offset-1 col-xs-offset-1">
            <h3>Basic Information</h3>

            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-4"><label class="control-label">Birthday</label></div>
                <div class="col-xs-5">
                  <input class="form-control" value="July 31, 1980">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-4"><label class="control-label">College</label></div>
                <div class="col-xs-5">
                  <input class="form-control" value="Hogwarts College">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-4"><label class="control-label">Hometown</label></div>
                <div class="col-xs-5">
                  <input class="form-control" value="Godrick's Hollow, England">
                </div>
              </div>
            </form>

            <h3>Contact Information</h3>

            <form>
              <div class="form-group row">
                <div class="col-xs-3"><label class="control-label">Email</label></div>
                <div class="col-xs-6">
                  <input class="form-control" value="harrypotter@hogwarts.edu">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-3"><label class="control-label">Telephone</label></div>
                <div class="col-xs-6">
                  <input class="form-control" value="+44-555-123-4567">
                </div>
              </div>
            </form>
          </div>

          <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
            <h3>Words to Live By</h3>
            <div class="col-xs-7"><textarea class="form-control" rows="5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </textarea></div>

            <div class="col-xs-12"><h3>About Me</h3></div>
            <div class="col-xs-7"><textarea class="form-control" rows="8">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </textarea></div>
          </div>


          <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
            <a href="about.html"><button class="btn btn-primary" id="submit-button">Submit</button></a>
          </div>
        </div> <!-- endrow -->
      </section>
    </div> <!-- end container-fluid -->


    <%= render 'footer' %>
