<%= render 'shared/cover' %>

<%= render 'shared/subnav' %>


<main class="row">
  <section class="col-xs-12 content">
    <h2>Friends</h2>

      <div class="row">
      <%= render 'friends.html.erb' %>

      </div>
    </section>
</main>

<%= render 'shared/footer' %>