<%= render 'shared/cover' %>

<%= render 'shared/subnav' %>

  <section  class="content col-xs-12">
    <h2>Edit Cover Photo</h2>

    <%= render 'cover_profile_photo_form.html.erb', fk: :profile_photo_id %>
      
  </section>


<%= render 'shared/footer' %>
