 <div class="row">
  <div class="cover-photo-div col-xs-12">
    <%= image_tag "hogwarts_small.jpg", class: "cover-photo" %>

    <%= image_tag "harry_potter_small.jpg", class: "profile-pic" %>

    <%= link_to  '<p class="edit-profile pull-right">Edit Profile <span class="glyphicon glyphicon-edit"></span></p>'.html_safe, edit_user_path(current_user) %>

  </div>
</div>