<% if params[:user_id] %>
  <% user_id = params[:user_id] %>
<% else %>
   <% user_id = params[:id] %>
<% end %>

<div class="row">
   <div class=" col-xs-10 col-xs-offset-1 sub-nav">
    <div class="col-xs-offset-7 col-sm-offset-5 col-lg-offset-3 col-xs-6 col-sm-8 col-lg-9">
      <ul class="nav nav-pills">
        <li
          <% if params[:action] == 'index' && params[:controller] == "posts" %>
            class="active"
          <% end %>
        >
           <%= link_to 'Timeline', user_posts_path(current_page_user_id) %>
        </li>

        <li
          <% if params[:action] == 'show' && params[:controller] == 'users' %>
            class="active"
          <% end %>
          >
           <%= link_to 'About', user_path(current_page_user_id) %>

        </li>

        <li
         <% if params[:controller] == 'photos' %>
              class="active"
          <% end %>
          >
        <%= link_to "Photos <span class='badge'>#{User.find(current_page_user_id).photos.count}</span>".html_safe, user_photos_path(current_page_user_id) %>

        </li>

        <li
         <% if  params[:controller] == 'friendings' %>
               class="active"
          <% end %>
          >
          <%= link_to "Friends <span class='badge'>#{User.find(current_page_user_id).friended_users.count}</span>".html_safe, user_friendings_path(current_page_user_id) %>

        </li>

    </div>
  </ul>
</div>