<% post.comments.each do |comment| %>
        <article class="comment posted-post row">
          <a href="timeline.html" class="my-thumbnail">
            <%= image_tag "harry_potter_small.jpg" %>
          </a>

          <a href="timeline.html"><p>Harry Potter</p></a>

    <p id="post-date"><%= post.created_at.strftime("%A %B, %d %Y") %></p>

          <p>
           <%= comment.body %>
          </p>

          <div class="row">
     <!--        <div class="col-xs-6"><a href="#" class="action" id="like">Like</a><p class="likes-count">3 other people like this</p></div> -->

            <%= link_to "Delete", comment_path(comment.id), method: :delete, class: "col-xs-2 pull-right" %>
         </div>
        </article>
<% end %>