/*logged out nav bar*/
.navbar {
  background-color: #3b5998; }
  .navbar .navbar-form {
    margin-top: 30px; }
  .navbar .navbar-brand {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    font-weight: bold; }
  .navbar .navbar-toggle {
    margin-top: 20px; }
  .navbar .navbar-collapse {
    background-color: #3b5998; }

/*sign up*/

  #intro-copy {
  margin-top: 10%; }
  #intro-copy h3 {
    font-size: 32px;
    line-height: 50px;
    font-weight: bold;
    text-align: center; }
  #intro-copy ul {
    font-size: 18px;
    line-height: 40px; }

#sign-up-form h2 {
  font-size: 48px;
  margin-bottom: 10%; }
#sign-up-form button {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%; }
