<!-- nav bar -->
<nav class="nav navbar navbar-fixed-top">

    <div class="row">

      <div class="navbar-header col-xs-offset-2 col-xs-9 col-sm-3 col-md-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <%= image_tag "h_white.png", class: "logo" %>

        <a class="navbar-brand" href="#">HBook</a>
      </div>


      <section class="form-group collapse navbar-collapse col-xs-10 col-sm-6 col-md-3 search-bar-container" id="myNavbar">
        <input type="text" class="form-control search-bar" placeholder="Search for users">
      </section>


    <div class="name-container pull-right">
      <a href="timeline.html" class="name ">
        <span class="glyphicon glyphicon-user"></span> Harry Potter
      </a>
    </div>


  </div>
</nav>